/cons_agg_w1.csv
/et_local_area_unit_conversion.csv
/food_cf_wave1.csv
/pub_eth_householdgeovariables_y1.csv
/pub_eth_plotgeovariables_y1.csv
/sect10_hh_w1.csv
/sect10_ph_w1.csv
/sect10a1_com_w1.csv
/sect10a2_com_w1.csv
/sect10b1_com_w1.csv
/sect10b2_com_w1.csv
/sect11_ph_w1.csv
/sect11a_hh_w1.csv
/sect11b_hh_w1.csv
/sect11c_hh_w1.csv
/sect12_hh_w1.csv
/sect12_ph_w1.csv
/sect13_hh_w1.csv
/sect14a_hh_w1.csv
/sect14b_hh_w1.csv
/sect1_hh_w1.csv
/sect1_ls_w1.csv
/sect1_ph_w1.csv
/sect1_pp_w1.csv
/sect1a_com_w1.csv
/sect1b_com_w1.csv
/sect2_com_w1.csv
/sect2_hh_w1.csv
/sect2_pp_w1.csv
/sect3_com_w1.csv
/sect3_hh_w1.csv
/sect3_pp_w1.csv
/sect3_rca_pp_w1.csv
/sect3_rcb_pp_w1.csv
/sect4_com_w1.csv
/sect4_hh_w1.csv
/sect4_pp_w1.csv
/sect5_com_w1.csv
/sect5_pp_w1.csv
/sect5a_hh_w1.csv
/sect5b_hh_w1.csv
/sect5c1_hh_w1.csv
/sect5c2_hh_w1.csv
/sect6_com_w1.csv
/sect6a_hh_w1.csv
/sect6b_hh_w1.csv
/sect7_com_w1.csv
/sect7_hh_w1.csv
/sect7_pp_w1.csv
/sect8_com_w1.csv
/sect8_hh_w1.csv
/sect8a_ls_w1.csv
/sect8b_ls_w1.csv
/sect8c_ls_w1.csv
/sect9_com_w1.csv
/sect9_hh_w1.csv
/sect9_ph_w1.csv
/sect_cover_hh_w1.csv
/sect_cover_ls_w1.csv
/sect_cover_ph_w1.csv
/sect_cover_pp_w1.csv
/sect_nr_ph_w1.csv
/sect_nr_pp_w1.csv
