/AG_FILTERS.dta
/AG_NETWORK.dta
/AG_SEC01.dta
/AG_SEC09.dta
/AG_SEC10A.dta
/AG_SEC10B.dta
/AG_SEC10C.dta
/AG_SEC11.dta
/AG_SEC12A.dta
/AG_SEC12B.dta
/AG_SEC2A.dta
/AG_SEC2B.dta
/AG_SEC3A.dta
/AG_SEC3B.dta
/AG_SEC4A.dta
/AG_SEC4B.dta
/AG_SEC5A.dta
/AG_SEC5B.dta
/AG_SEC6A.dta
/AG_SEC6B.dta
/AG_SEC7A.dta
/AG_SEC7B.dta
/AG_SEC8A.dta
/AG_SEC8B.dta
/AG_SEC8C.dta
/COMSEC_CA.dta
/COMSEC_CB.dta
/COMSEC_CD.dta
/COMSEC_CE.dta
/COMSEC_CF.dta
/COMSEC_CG.dta
/COMSEC_CH.dta
/COMSEC_CI.dta
/COMSEC_CJ.dta
/FS_B1.dta
/FS_C1.dta
/FS_D1.dta
/FS_D2.dta
/FS_D3.dta
/FS_E1.dta
/FS_E2.dta
/FS_E3.dta
/FS_F.dta
/FS_FILTERS.dta
/FS_G.dta
/FS_H1.dta
/FS_H2.dta
/FS_H3.dta
/FS_I.dta
/FS_J1.dta
/FS_J2.dta
/FS_J3.dta
/FS_K1.dta
/FS_K2.dta
/FS_K3.dta
/FS_L.dta
/FS_M.dta
/FS_N1.dta
/FS_N2.dta
/HH.Geovariables_Y2.dta
/HH_SEC_A.dta
/HH_SEC_B.dta
/HH_SEC_C.dta
/HH_SEC_D.dta
/HH_SEC_E1.dta
/HH_SEC_E2.dta
/HH_SEC_F.dta
/HH_SEC_FILTERS.dta
/HH_SEC_G.dta
/HH_SEC_H1.dta
/HH_SEC_H2.dta
/HH_SEC_H3.dta
/HH_SEC_I1.dta
/HH_SEC_I2.dta
/HH_SEC_J1.dta
/HH_SEC_J2.dta
/HH_SEC_K1.dta
/HH_SEC_K2.dta
/HH_SEC_K3.dta
/HH_SEC_L.dta
/HH_SEC_M.dta
/HH_SEC_N.dta
/HH_SEC_O1.dta
/HH_SEC_O2.dta
/HH_SEC_P.dta
/HH_SEC_Q.dta
/HH_SEC_R.dta
/HH_SEC_S.dta
/HH_SEC_U.dta
/HH_SEC_V2.dta
/Plot.Geovariables_Y2.dta
/TZY1.HH.Consumption.dta
/TZY2.EA.Offsets.dta
/TZY2.HH.Consumption.dta
