/EA.Offsets.dta
/HH.Geovariables_Y1.dta
/Plot.Geovariables_Y1_revised2.dta
/SEC_10A.dta
/SEC_10B.dta
/SEC_11_ALL.dta
/SEC_12A.dta
/SEC_12B.dta
/SEC_12C.dta
/SEC_12D.dta
/SEC_13A.dta
/SEC_13B.dta
/SEC_1_ALL.dta
/SEC_2A.dta
/SEC_2B.dta
/SEC_3A.dta
/SEC_3B.dta
/SEC_4A.dta
/SEC_4B.dta
/SEC_5A.dta
/SEC_5B.dta
/SEC_6A.dta
/SEC_6B.dta
/SEC_7A.dta
/SEC_7B.dta
/SEC_8A.dta
/SEC_8B.dta
/SEC_8C.dta
/SEC_9_ALL.dta
/SEC_A.dta
/SEC_A_T.dta
/SEC_B.dta
/SEC_B_C_D_E1_F_G1_U.dta
/SEC_C.dta
/SEC_D.dta
/SEC_E2.dta
/SEC_E_F_G.dta
/SEC_G2.dta
/SEC_H.dta
/SEC_H1_J_K2_O2_P1_Q1_S1.dta
/SEC_H2.dta
/SEC_H3.dta
/SEC_I.dta
/SEC_I_J1.dta
/SEC_J2.dta
/SEC_K1.dta
/SEC_L.dta
/SEC_M.dta
/SEC_N.dta
/SEC_NETWORK.dta
/SEC_O1.dta
/SEC_O3.dta
/SEC_P2.dta
/SEC_Q2.dta
/SEC_Q3.dta
/SEC_QNFLOW.dta
/SEC_R.dta
/SEC_S2.dta
/TZY1.HH.Consumption.dta
