/1989 Survey Instruments by Village.pdf
/adado.pdf
/adele.pdf
/Aze-Deboa.pdf
/Codepridc1item1234.SPS
/Codepridp1item1234.SPS
/Codeunit1.SPS
/Codeunit1unit1234.SPS
/Debre_Birhan.pdf
/Dinki.pdf
/Dooma.pdf
/ERHS_hhquestionnaire_1989.pdf
/Gara_Godo.pdf
/Geblen.pdf
/Harresaw.pdf
/Imdibir.pdf
/Korodegaga.pdf
/Landconversion.SPS
/Mergeconvfac.SPS
/Mergepricekg.SPS
/Mergepricenumber.SPS
/Overview and Acknowledgements and Data Description.pdf
/Shumsheha.pdf
/Sirba.pdf
/Table of Contents.pdf
/Turufe.pdf
/Yetmen.pdf
