/AG_NETWORK.dta
/AG_SEC_01.dta
/AG_SEC_08.dta
/AG_SEC_10.dta
/AG_SEC_11.dta
/AG_SEC_12A.dta
/AG_SEC_12B.dta
/AG_SEC_2A.dta
/AG_SEC_2B.dta
/AG_SEC_3A.dta
/AG_SEC_3B.dta
/AG_SEC_4A.dta
/AG_SEC_4B.dta
/AG_SEC_5A.dta
/AG_SEC_5B.dta
/AG_SEC_6A.dta
/AG_SEC_6B.dta
/AG_SEC_7A.dta
/AG_SEC_7B.dta
/AG_SEC_9A.dta
/AG_SEC_9B.dta
/AG_SEC_9C.dta
/AG_SEC_A.dta
/COM_SEC_A1A2.dta
/COM_SEC_CB.dta
/COM_SEC_CC.dta
/COM_SEC_CD.dta
/COM_SEC_CE.dta
/COM_SEC_CF.dta
/COM_SEC_CF_ID.dta
/COM_SEC_CG.dta
/ConsumptionNPS3.dta
/FILTERS.dta
/HH_SEC_A.dta
/HH_SEC_B.dta
/HH_SEC_C.dta
/HH_SEC_D.dta
/HH_SEC_E.dta
/HH_SEC_F.dta
/HH_SEC_G.dta
/HH_SEC_H.dta
/HH_SEC_I.dta
/HH_SEC_J1.dta
/HH_SEC_J2.dta
/HH_SEC_J3.dta
/HH_SEC_J4.dta
/HH_SEC_K.dta
/HH_SEC_L.dta
/HH_SEC_M.dta
/HH_SEC_N.dta
/HH_SEC_O1.dta
/HH_SEC_O2.dta
/HH_SEC_P.dta
/HH_SEC_Q1.dta
/HH_SEC_Q2.dta
/HH_SEC_R.dta
/HH_SEC_S.dta
/HH_SEC_U2.dta
/HH_SEC_V.dta
/HouseholdGeovars_Y3.dta
/LF_NETWORK.dta
/LF_SEC_01.dta
/LF_SEC_02.dta
/LF_SEC_03.dta
/LF_SEC_04.dta
/LF_SEC_05.dta
/LF_SEC_06.dta
/LF_SEC_07.dta
/LF_SEC_08.dta
/LF_SEC_09.dta
/LF_SEC_10.dta
/LF_SEC_11A.dta
/LF_SEC_11B.dta
/LF_SEC_12.dta
/LF_SEC_13A.dta
/LF_SEC_13B.dta
/LF_SEC_A.dta
/NPSY3.PANEL.KEY.dta
/PlotGeovars_Y3.dta
/Y3_weights.dta
