/LF_SEC_10.dta
/ag_filters.dta
/ag_network.dta
/ag_sec_01.dta
/ag_sec_10.dta
/ag_sec_11.dta
/ag_sec_12a.dta
/ag_sec_12b.dta
/ag_sec_2a.dta
/ag_sec_2b.dta
/ag_sec_3a.dta
/ag_sec_3b.dta
/ag_sec_4a.dta
/ag_sec_4b.dta
/ag_sec_5a.dta
/ag_sec_5b.dta
/ag_sec_6a.dta
/ag_sec_6b.dta
/ag_sec_7a.dta
/ag_sec_7b.dta
/ag_sec_a.dta
/com_sec_a1a2.dta
/com_sec_cb.dta
/com_sec_cc.dta
/com_sec_cd.dta
/com_sec_ce.dta
/com_sec_cf.dta
/com_sec_cf_id.dta
/com_sec_cg.dta
/consumptionNPS4.dta
/hh_filters.dta
/hh_sec_a.dta
/hh_sec_b.dta
/hh_sec_c.dta
/hh_sec_d.dta
/hh_sec_e.dta
/hh_sec_f.dta
/hh_sec_g.dta
/hh_sec_h.dta
/hh_sec_i.dta
/hh_sec_j1.dta
/hh_sec_j3.dta
/hh_sec_j4.dta
/hh_sec_k.dta
/hh_sec_l.dta
/hh_sec_m.dta
/hh_sec_n.dta
/hh_sec_o1.dta
/hh_sec_o2.dta
/hh_sec_p.dta
/hh_sec_q1.dta
/hh_sec_q2.dta
/hh_sec_r.dta
/hh_sec_s.dta
/hh_sec_u2.dta
/hh_sec_v.dta
/lf_filters.dta
/lf_network.dta
/lf_sec_01.dta
/lf_sec_02.dta
/lf_sec_03.dta
/lf_sec_04.dta
/lf_sec_05.dta
/lf_sec_06.dta
/lf_sec_07.dta
/lf_sec_08.dta
/lf_sec_09.dta
/lf_sec_11a.dta
/lf_sec_11b.dta
/lf_sec_12.dta
/lf_sec_13a.dta
/lf_sec_13b.dta
/lf_sec_a.dta
/npsy4.child.anthro.dta
/npsy4.ea.offset.dta
