/S100.dta
/S10AI.dta
/S10AII.dta
/S10AIII.dta
/S10AIV.dta
/S10AV.dta
/S10AVI.dta
/S10B.dta
/S10C0.dta
/S10C.dta
/S10DI.dta
/S10DII.dta
/S10DIII.dta
/S11A.dta
/S11B.dta
/S11C.dta
/S11D.dta
/S12AI.dta
/S12AII.dta
/S1D.dta
/S1EI0.dta
/S1EI.dta
/S1EII0.dta
/S1EII.dta
/S1EIII0.dta
/S1EIII.dta
/S1FI.dta
/S1FII.dta
/S1FIII.dta
/S1GI0.dta
/S1GI.dta
/S1GII0.dta
/S1GII.dta
/S2A0.dta
/S2A.dta
/S2B0.dta
/S2B.dta
/S3AI0.dta
/S3AI.dta
/S3AII0.dta
/S3AII.dta
/S3AIII.dta
/S3BI0.dta
/S3BI.dta
/S3BII0.dta
/S3BII.dta
/S3BIII0.dta
/S3BIII.dta
/S3BIV0.dta
/S3BIV.dta
/S3BV0.dta
/S3BV.dta
/S40.dta
/S4AI.dta
/S4AII.dta
/S4AIII.dta
/S4AIV.dta
/S4AIX1.dta
/S4AIX2.dta
/S4AIX3.dta
/S4AIX4.dta
/S4AIX5.dta
/S4AIX6.dta
/S4AIX7.dta
/S4AIX8.dta
/S4AV1.dta
/S4AV2.dta
/S4AVI10.dta
/S4AVI1.dta
/S4AVI20.dta
/S4AVI2.dta
/S4AVII.dta
/S4AVIII10.dta
/S4AVIII1.dta
/S4AVIII20.dta
/S4AVIII2.dta
/S4BI0.dta
/S4BI.dta
/S4BII0.dta
/S4BII.dta
/S5A0.dta
/S5AI.dta
/S5AII.dta
/S5BI.dta
/S5BII.dta
/S5BIII.dta
/S5BIV.dta
/S5C1.dta
/S5C2.dta
/S5C3.dta
/S5D1.dta
/S5D2.dta
/S5D3.dta
/S5E1.dta
/S5E2.dta
/S5E3.dta
/S5F.dta
/S6A.dta
/S6B.dta
/S6C.dta
/S6D.dta
/S6E.dta
/S6F.dta
/S6G.dta
/S70.dta
/S7A.dta
/S7B.dta
/S80.dta
/S8A.dta
/S8B.dta
/S90.dta
/S980.dta
/S9A.dta
/S9B1.dta
/S9B2.dta
/S9C.dta
/S9D.dta
/S9E.dta
/SEC0.dta
/EAs.dta
/aggregated_expenditure.dta
/key_hhld_info.dta
/percapita_expenditure.dta
/consumption_expenditure.dta
